.texto-rojo {
  color: red;
  background-color: pink;
}

.texto-azul {
  color: blue;
  background-color: red;
}

.alineado {
  text-align: center;
}
h5[id="letraRainbow"],
p[id="rainbow"] {
  color: red;
}

h5[id="nadando"],
p[id="nadar"] {
  color: black;
}
